@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.mainPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: block;
  flex-grow: 1;
}

.mainPage__form {
  margin-bottom: 44px;

  @media ($l) {
    margin-bottom: 48px;
  }
}
