@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.form__wrapper {
  @media ($l) {
    padding: 64px 96px 96px;
    background-color: $darkBlueColor;
    border-radius: 24px;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form__badge {
  display: flex;
  margin: 0 8px 24px;
  padding: 8px;
  border-radius: 8px;
  background-color: $deepBlueColor;
  border: 1px solid $orangeColor;

  @media ($l) {
    max-width: 493px;
    margin: 0 auto 16px;
    border: none;
  }
}

.form__badgeIcon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 8px;
}

.form__badgeText {
  font-weight: $medium;
  font-size: 16px;
  line-height: 24px;
  color: $darkSlateColor;
}

.form__innerWrapper {
  margin: 0 -16px;
  padding: 24px 24px 48px;
  background-color: $darkBlueColor;
  border-radius: 24px;

  @media ($l) {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
}

.form__heading {
  font-weight: $bold;
  font-size: 25px;
  line-height: 36px;
  color: $whiteColor;
  margin-bottom: 16px;

  @media ($l) {
    margin-bottom: 32px;
    text-align: center;
  }
}

.form__inputWrapper {
  padding: 24px 16px;
  background-color: $whiteColor;
  border-radius: 16px;

  @media ($l) {
    padding: 48px 16px;
  }
}

.form__title {
  font-weight: $medium;
  font-size: 23px;
  line-height: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.form__form {
  @media ($l) {
    max-width: 320px;
    margin: 0 auto;
  }
}

.form__input {
  margin-bottom: 8px;
}

.form__formNote {
  font-weight: $medium;
  font-size: 14px;
  line-height: 20px;
  color: #646464;
  margin-bottom: 16px;
}

.form__button {
  width: 100%;
}
