@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.hero {
  background-color: $darkBlueColor;
}

.hero__wrapper {
  padding: 20px 0 52px;

  @media ($l) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 24px;
    padding: 42px 0 100px;
  }
}

.hero__heading {
  font-weight: $semibold;
  font-size: 23px;
  line-height: 28px;
  color: $whiteColor;
  margin-bottom: 16px;

  @media ($l) {
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 32px;
  }
}

.hero__heading_marked {
  color: $whiteColor;
  background-color: $greenColor;
  border-radius: 4px;
}

.hero__text {
  font-weight: $regular;
  font-size: 14px;
  line-height: 20px;
  color: $whiteColor;
  margin-bottom: 16px;

  @media ($l) {
    font-weight: $medium;
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

.hero__imageWrapper {
  position: relative;
}

.hero__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero__imageBadge {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: $whiteColor;
  border-radius: 8px;
}

.hero__imageBadgeWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;

  @media ($l) {
    padding: 8px 16px;
  }
}

.hero__imageBadgeLink {
  font-family: 'Open Sans', sans-serif;
  font-weight: $bold;
  font-size: 11px;
  line-height: 16px;
  color: $blackColor;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }
}

.hero__imageBadgeIcon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}
