@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  width: 100%;
  max-width: 1218px;
  margin: 0 auto;
  padding: 0 16px;

  @media ($l) {
    padding: 0 24px;
  }
}
