//Breackpoints
$l: 'min-width: 768px';
$xl: 'min-width: 1280px';

//Colors
$whiteColor: #ffffff;
$blackColor: #000000;
$orangeColor: #fa8c16;
$darkBlueColor: #2548d6;
$greenColor: #52c41a;
$darkSlateColor: #263238;
$deepBlueColor: #f5f6fe;
$redColor: #bb0000;

//Text weight
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Durations
$duration: 0.2s;
